* {
    box-sizing: border-box;
}
/* Navigation Start */
header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0.75rem 5rem;
    z-index: 10;
}

.navigation {
    display: inline-block;
}

.navigation a {
    margin-right: 1rem;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.navigation a:last-child {
    margin-right: 0;
}

.navigation a:hover {
    text-decoration: underline;
}

.logo {
    height: 80px;
}

@media (max-width:580) {
    header {
        padding: 0.75rem 0.5rem;
    }
    .navigation a {
        margin-right: 0;
    }
    .logo {
        width: 5rem;
    }
}
/* Navigation End */

/* HERO Start */

.video-details {
    width: 100%;
}

/* HERO End */

/* About Us Start */

.grid-container-about {
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
    text-align: center;
}

.grid-container-about-content, h1 {
    text-align: left;
    font-size: 40px;
    color: #caa880;
    padding-bottom: 20px;
}

.grid-container-about-content, p {
    text-align: justify;
    line-height: 30px;
    padding-top: 10px;
    color: #3b4964;
}

.grid-container-about-content {
    padding: 30px 50px 0 50px ;
}

.grid-item-about img {
    width: 100%;
    height: auto;
    border-radius: 50px;
    padding: 35px;
}

@media (max-width:768px) {
    .grid-container-about {
     grid-template-columns: inherit;
     padding: 0;
   }
   .grid-item-about-content>p {
     line-height:25px;
     padding-top: 0;
   }
   .grid-item-about-content {
     padding:40px;
   }
 }


/* About Us End */

/* Servicii Start */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
    text-align: center;
}

#section-1 h1 {
    color: #caa880;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.grid-item img {
    height: 100px;
}

.grid-item p {
    color: #3b4964;
    margin-top: 15px;
    margin-bottom: 30px;
    line-height: 30px;
}

.grid-item h2 {
    color: #caa880;
    font-size: 22px;
    font-weight: 700;
}

.grid-item {
    padding: 20px;
}


/* Servicii End */

/* Section 2 Start  Image*/

#section-2 {
    background: #000 url(images/medi-3.jpg);
    color: #fff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    text-align: center;
}

.descriere {
    font-size: 25px;
    margin-left: 60px;
    margin-right: 60px;
    color: #fff;

}

/* Section 2 Start  Image*/

/* Footer Section Start */

.footer{
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 30px;
  }
  .footer h1{
  font-size:40px;
  font-weight: 600;
  margin-bottom: 20px;
  }
  .footer address{
  margin-bottom:20px;
  }
  .copyright{
    text-align:center;
  }
  @media (max-width:768px) {
  
    .grid-container {
      grid-template-columns: inherit;
      padding: 0 50px 0 50px;
  
    }
    #section-2{
      margin-top:50px;
    }
    .descriere{
      font-size:20px;
      margin-left:30px;
      margin-right:30px;
    }
    .footer{
      margin-left:50px;
    }
  }
  
  /* Footer Section End */